body
{
    background: rgb(50, 50, 50);
}
p
{
    color: white;
}
.Content
{
    margin-left: 250px;
    box-sizing: border-box;
    border: solid white 10px;
    border-radius: 5px;
    background-color: rgb(55, 55, 55);

    color: white;
    text-align: center;
}
a
{
    color: white;
    font-family: "Times New Roman", serif;
    text-decoration: underline;
    background-color: rgb(55, 55, 55);
}
h1
{
    text-align: center;
    text-decoration: underline;
    background: rgb(55, 55, 55);
    color: white;
    font-family: "Times New Roman", serif;

    border-radius: 8px;
    border: black solid 15px;
}
img
{
    size: 200px;
    border-radius: 100px;
    float: left;
    background-color: rgb(55, 55, 55);
}
h2
{
    text-align: center;
    text-decoration: underline;
    color: white;
    font-family: "Times New Roman", serif;
    background-color: rgb(55, 55, 55);
}
p
{
    text-align: center;
    color: white;
    font-family: "Times New Roman", serif;
    background-color: rgb(55, 55, 55);
}
ol
{
    text-align: center;  
    color: white;
    font-family: "Times New Roman", serif;
    background-color: rgb(55, 55, 55);
}
ul
{
    text-align: center;
    color: white;
    font-family: "Times New Roman", serif;
    background-color: rgb(55, 55, 55);
}