body
{
    background: rgb(50, 50, 50);
}
a
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
h1
{
    text-align: center;
    text-decoration: underline;
    background: rgb(50, 50, 50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 20px;
    border: black solid 300px;
}
h2
{
    text-align: center;
    background: rgb(50, 50, 50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p
{
    text-align: center;
    background: rgb(50, 50, 50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
ol
{
    text-align: left;  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
ul
{
    text-align: left;  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}